.one{
    height: 300px;
    width: 300px;
    background-color: brown;
    padding: 50px;
    /* padding-left:30px ; */
    border: 20px dashed black;
    margin: 50px;
    box-sizing: border-box;
    display: inline-block;
}

.two{
    height: 300px;
    width: 300px;
    background-color: blue;
     /* display: inline; inline elements can never have height and width: ; */
     
     display: inline-block;
}  
